#mcq-editor .smart-form li{
	padding: 10px;
}

#mcq-editor .option-value{
	position: static!important;
}

#mcq-editor div.option-value{
	display: inline-block;
}

#mcq-editor .ques-text-editor{
	position: absolute;
	right: 97px;
}

#mcq-editor .question-text-viewer{
	border-bottom: 1px solid black;
	font-weight: 700;
	font-size: 18px;
}
#mcq-editor .question-text-editor{
	font-weight: 700;
	font-size: 18px;
}
#mcq-editor .questions-editor{
	padding-top: 10px;
}

#mcq-editor .editor-icon {
	cursor: pointer;
}

#mcq-editor .editor-icon.mcq-edit{
	position: absolute;
	right: -50px;
	top: 10px;
}

#mcq-editor .delete-icon.mcq-edit{
	right: -70px;
}

#mcq-editor .drag-icon.mcq-edit{
	right: -90px;
}

#mcq-editor .add-item{
	cursor: pointer;
}

#mcq-editor .input-option{
	width: 90%;
	border: none;
	border-bottom: 1px solid black;
}

#mcq-editor .bottom-content .rule{
	padding-bottom: 10px;	
}

#mcq-editor .bottom-content .objective{
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
}

#mcq-editor .bottom-content .feedback-text{
	display: block;
	padding: 10px 0;
}